<p id="notice"><%= notice %></p>

<h1>Listing Burgers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Vegetarian</th>
      <th>Spicy</th>
      <th>Price (single)</th>
      <th>Price (double)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @burgers.each do |burger| %>
      <tr>
        <td><%= burger.name %></td>
        <td><%= burger.description %></td>
        <td><%= burger.vegetarian %></td>
        <td><%= burger.spicy %></td>
        <td>£<%= number_with_precision(burger.price_single, :precision => 2) %></td>
        <td>£<%= number_with_precision(burger.price_double, :precision => 2) %></td>
        <td><%= link_to 'Show', burger, class: 'button' %></td>
        <td><%= link_to 'Edit', edit_burger_path(burger), class: 'button' %></td>
        <td><%= link_to 'Destroy', burger, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Burger', new_burger_path, class: 'button' %>
