<p id="notice"><%= notice %></p>

<h1>Listing Fillings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Spicy</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fillings.each do |filling| %>
      <tr>
        <td><%= filling.name %></td>
        <td><%= filling.spicy %></td>
        <td>£<%= number_with_precision(filling.price, :precision => 2) %></td>
        <td><%= link_to 'Show', filling, class: 'button' %></td>
        <td><%= link_to 'Edit', edit_filling_path(filling), class: 'button' %></td>
        <td><%= link_to 'Destroy', filling, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filling', new_filling_path, class: 'button' %>
