<p id="notice"><%= notice %></p>

<div class="show">
  <p>
    <strong>Name:</strong>
    <%= @filling.name %>
  </p>

  <p>
    <strong>Spicy:</strong>
    <%= @filling.spicy %>
  </p>

  <p>
    <strong>Price:</strong>
    £<%= number_with_precision(@filling.price, :precision => 2) %>
  </p>
</div>

<%= link_to 'Edit', edit_filling_path(@filling), class: 'button' %>
<%= link_to 'Back', fillings_path, class: 'button' %>
